body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    ;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .container-404 {
    border: 1px solid #7875fe;
    border-radius: 10px;
    max-width: 700px;
    margin: 100px auto;
    text-align: center;
    animation: fadeIn 1s ease;

  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  p, ul {
    margin-right: 10px;
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  a {
    color: #7875fe;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  