@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

/*Переменные с основными цветами*/
:root {
  --main-bg-color: #ffffff;
  --main-button-color: #7875fe;
  --casual-text-color: #000000;
  --hover-text-color: #7875fe;
}

/*Cтилизация главного фона сайта*/
body {
  background-color: var(--main-bg-color);
}

/*Стилизация кнопок*/
button {
  color: var(--main-button-color);
  background-color: transparent;
  border: 1px solid var(--main-button-color);
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-family: "Commissioner", sans-serif;
}

/*Стилизация кнопок при наведении*/
button:hover {
  color: #fff;
  background-color: var(--main-button-color);
  cursor: pointer;
  transition: 0.8s;
}

/*Cтилизация шапки*/
header {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-bottom: 1px solid #c0c0c0;
}

/*Нижняя часть шапки*/
.lower-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 46%;

  width: 100%;
  height: 100%;

  padding-bottom: 20px;

  border-top: 1px solid #c0c0c0;
}

/*Логотип*/
.header-logo-a {
  padding: 20px;
  height: 50px;
}

/* Стили для основной кнопки */
.dropbtn {
  background-color: transparent;
  color: var(--main-button-color);
  font-size: 14px;

  border: 1px solid var(--main-button-color);
  cursor: pointer;
}

/* Стили для контейнера выпадающего меню */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Стили для самого выпадающего меню */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Стили для ссылок в выпадающем меню */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Стили для ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Логотип размеры*/
.lower-header picture img {
  height: 100%;
}

/*Нижняя часть шапки, отдел с кнопками и поиском*/
.lower-header__buttons-search {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/*Стилизация формы*/
.lower-header__buttons-search form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 2%;
  height: 28px;
}

/*Стилизация кнопки поиск*/
.button-search {
  width: 50px;
}

/*Стилизация поиска*/
.lower-header__buttons-search input {
  font-size: large;
  padding: 5px;
  height: 100%;
  cursor: pointer;

  border: 1px solid #7875fe;
  border-radius: 10px;
  background-color: transparent;
}

/*Cтилизация основного контента*/
main {
  height: 100%;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}


/*Cтилизация основной таблицы*/
table {
  text-align: center;
  font-family: "Overpass Mono", monospace;

  width: 60%;
  height: 100%;
  margin-top: 20px;

  border-bottom: 1px solid #c0c0c0;

  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

thead {
  cursor: pointer;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: #fff;

  width: 100%;
  height: 40px;
}

table span {
  opacity: 0.5;
  z-index: 0;
}

td,
th {
  vertical-align: middle;
}

thead,
tr {
  border-bottom: 1px solid #c0c0c0;
}

table tbody tr:hover {
  cursor: pointer;
  background-color: #dedede;
}

/*Cтилизация подвала*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  font-family: "Overpass Mono", monospace;

  height: 100%;
  width: 100%;

  padding-top: 20px;
  margin-top: 30px;

  background-color: #ffffff;
  border-top: 1px solid #c0c0c0;
}

/*Cтилизация логотипа в подвале*/
.footer-logo img {
  height: 50px;
}

/*Cтилизация ссылок в подвале*/
.footer-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 120px;
}

footer span {
  font-weight: bold;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  list-style: none;
}

footer li a {
  color: #c0c0c0;
  text-decoration: none;
}

footer li a:hover {
  color: #7875fe;
  transition: 0.3s;
  cursor: pointer;
}

/*Cтилизация нижней части в подвале*/
.footer-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 52%;

  padding-top: 20px;

  width: 100%;
}

.footer-meta__copyrigth {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #c0c0c0;
}

.footer-meta__social {
  text-align: end;
}

.footer-meta__social img {
  height: 40px;
}

/* Стили диаграммы */
.diagramm-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
  font-family: "Overpass Mono", monospace;
}

.diagramm-wrapper h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

/* Анимация таблицы */
@keyframes slidein{
  from{
    margin-left: 100%;
    width: 300%;
  }
  to{
    margin-left: 0%;
    width: 60%;
  }
}
